---
Checks: >
    -*,
    clang-diagnostic-*,
    clang-analyzer-*,
    -clang-analyzer-cplusplus*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion,
    -misc-const-correctness,
    -misc-include-cleaner,
    -misc-use-internal-linkage,
    -misc-use-anonymous-namespace,
    modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard,
    performance-*,
    readability-*,
    -readability-avoid-unconditional-preprocessor-if,
    -readability-braces-around-statements,
    -readability-named-parameter,
    -readability-magic-numbers,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-suspicious-call-argument
WarningsAsErrors: >
    -*,
    clang-analyzer-*,
    -clang-analyzer-core.uninitialized.UndefReturn,
    -clang-analyzer-cplusplus*,
    -clang-analyzer-optin.core.EnumCastOutOfRange,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion,
    -misc-const-correctness,
    -misc-include-cleaner,
    -misc-use-internal-linkage,
    -misc-use-anonymous-namespace,
    modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard,
    performance-*,
    readability-*,
    -readability-avoid-unconditional-preprocessor-if,
    -readability-braces-around-statements,
    -readability-named-parameter,
    -readability-magic-numbers,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-suspicious-call-argument
HeaderFilterRegex: '.*'
FormatStyle:     none
CheckOptions:
  - key:             modernize-use-override.AllowOverrideAndFinal
    value:           '1'
  - key:             cppcoreguidelines-explicit-virtual-functions.AllowOverrideAndFinal
    value:           '1'
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:           '1'
ExtraArgs:
  - '-std=c++17'
...
